.text{
    font-size: 20pt;
    font-weight: 600;
    line-height: 1.6;
}




/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .title{
        display: none;
    }
 }
